/* Keep the styling intentionally minimal. If you find a problem with the styling, please open an issue on GitHub. */

html,
body {
	padding: 16px;
	margin: 0;
	font-family: monospace;
}

a {
	color: blue;
	text-decoration: underline;
	font-size: 18px;
	font-weight: 600;
	text-underline-offset: 3px;
	display: block;
	margin-bottom: 10px;
	width: fit-content;
}

a:hover,
a:visited:hover {
	color: black;
}

a:visited {
	color: purple;
}

a:focus-visible {
	outline-offset: 5px;
	border-radius: 0px;
	outline: 2px solid black;
	color: black;
}

* {
	box-sizing: border-box;
}
p,
ul,
li {
	font-size: 20px;
}

h1 {
	font-size: 50px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 12px;
}

h2 {
	font-size: 22px;
	text-align: center;
	font-weight: 100;
	margin-bottom: 0;
}

h3 {
	font-size: 20px;
	font-weight: 600;
}

hr {
	margin: 48px auto;
	/* max-width: 800px; */
}

footer {
	line-height: 1.5;
}

.header {
	margin-bottom: 100px;
}

.listing {
	max-width: 800px;
	width: 100%;
}

.job-list {
	/* Will auto expand and contract the columns to fit screen size */
	-webkit-columns: 325px;
	-moz-columns: 325px;
	columns: 325px;
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em;
	column-gap: 1em;
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid; /* IE 10+ */
	margin-bottom: 50px;
}

.contribution-container {
	text-align: center;
}

.contribute {
	color: black;
	margin: 0 auto;
}

.contribute:hover {
	color: blue;
}

.hero-copy {
	max-width: 900px;
	width: 100%;
	margin: 16px auto;
	line-height: 1.5;
}

.emoji {
	font-size: 50px;
	text-align: center;
	display: block;
}

.footer-link {
	display: initial;
	font-size: 20px;
}
